$prefix: item-selector;

.#{$prefix} {
  position: relative;
  height: 100%;
  line-height: 1;

  &__searchbar {
    background-color: #fff;
    padding: 8px;
  }

  &__searchbar-inner {
    position: relative;

    input {
      width: 100%;
      height: 30px;
      padding: 0 8px;
      border: 1px solid #eee;
      box-sizing: border-box;
      outline: none;
      background-color: transparent;
      font-size: 12px;

      &:focus {
        border-color: #66afe9;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
      }
    }
  }

  &__searchbar-icon {
    height: 20px;
    line-height: 20px;
    position: absolute;
    top: 50%;
    right: 5px;
    margin-top: -10px;
    text-align: center;
    color: #999;

    span {
      display: inline-block;
      font-size: 14px;
      width: 20px;
      height: 20px;
      line-height: 20px;

      &.clean {
        cursor: pointer;

        &:hover {
          color: #666;
        }
      }
    }
  }

  &__options {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__option {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.8em;
    display: block;
    clear: both;
    padding: 5px 10px;
    cursor: pointer;
    text-align: left;
    white-space: nowrap;
    color: #333;
    border-top: 1px solid #efefef;
    position: relative;

    &:hover {
      background-color: #f7f7f7;

      &::after {
        display: block;
      }
    }

    &::after {
      position: absolute;
      top: 50%;
      right: 15px;
      display: none;
      width: 4px;
      height: 12px;
      margin-top: -8px;
      content: '';
      transform: rotate(45deg);
      text-align: center;
      border: solid #ddd;
      border-width: 0 3px 2px 0;
    }
  }

  .option-checked {
    background-color: #eaf8fe;
    color: #666;
    border-top: 1px solid #d8eef7;
    border-bottom: 1px solid #d8eef7;
    z-index: 1;
    margin-bottom: -1px;

    &.select__option-active {
      background-color: #dff6ff;
    }

    &::after {
      display: block;
      border-color: #2db7f5;
    }

    &:hover {
      background-color: #dff6ff;
    }
  }

  .option-active {
    background-color: #dff6ff;

    &::after {
      display: block;
    }

    &:hover {
      background-color: #e6f8ff;
    }
  }

  &__option-notfound {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.8em;
    padding: 10px 0;
    text-align: center;
  }

  .match {
    color: #000;
    background-color: #ff6;
  }

  /* 分页 */
  &__page {
    font-size: 12px;
    line-height: 2em;
    padding: 5px;
    user-select: none;
    text-align: center;
    background-color: #f9f9f9;
    border-top: 1px solid #ddd;
  }

  .pagelink {
    padding: 0 5px;
    color: #333;

    &:hover {
      cursor: pointer;
      background-color: #efefef;
    }
  }

  .pagelink-disabled {
    color: #999;

    &:hover {
      cursor: not-allowed;
      background-color: transparent;
    }
  }

  .pagelink-prev {
    float: left;

    &::after {
      padding: 0 5px;
    }
  }

  .pagelink-next {
    float: right;

    &::after {
      padding: 0 5px;
    }
  }

  .pagenum {
    .spe {
      padding: 0 5px;
    }
  }
}
